@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
/* 之後可以把整個版面撐滿，然後再把顯示天氣的區域放在畫面的正中央 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}
